<h1>Universidad Tecnol칩gica Metropolitana de El Salvador, Proyecto b </h1>

<style>
  /* Esto le dar치 color y dise침o a tu p치gina */
  body {
    font-family: sans-serif;
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  
  h1 {
    color: #003366; /* Azul oscuro profesional */
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-bottom: 5px solid #ffcc00; /* Detalle amarillo */
    text-align: center;
  }
</style>
